/*All devices and mobile phone*/

body{
	font-family: 'Hind', sans-serif;
	color: #eee;
	display: flex;
	flex-direction: column;
	overflow-x:hidden;

background: #4B79A1; /* fallback for old browsers */
background: -webkit-linear-gradient(to left, #4B79A1 , #283E51); /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to left, #4B79A1 , #283E51); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
header, footer{
	flex: 0 0 auto;
}
main{
	flex: 1 0 auto;
	padding: 0 0.5em;
}
footer{
	padding: 0 0.5em;
}
a{
	text-decoration: none;
	color: orange;
}


/*------HEADER------*/

.header{
	display: flex;
	align-items: center;
	justify-content: flex-start;
}
.header a{
	text-align: right;
}
#hamburger{
	flex: 1 0 5%;
}
nav{
	height: 11.7em;
	transition: all ease 0.3s;
}
nav ul{
	padding: 0 0.5em;	

}
nav ul li{
	list-style: none;
	padding: 0.5em 0;
	margin-top: 0.2em;
	text-align: center;
	border-radius: 0.2em;

background: #4B79A1; /* fallback for old browsers */
background: -webkit-linear-gradient(to left, #283E51 , #4B79A1); /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to left, #283E51 , #4B79A1); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
nav ul li a, .footer ul li a{
	color: #eee;
}

nav ul li:hover{
	nav ul li a{
		color: orange;
	}
}

nav ul li a:hover{
	text-shadow: 0 0 thin white;
	color: orange;
	transition: all ease 0.2s;
}
.image-slider{
	width: 100vw;
	height: 60vw;
	position: relative;
}
.image-slider img{
	width: 100%;
	position: absolute;
	z-index: 0;
}
.image-slider img.current{
	width: 100%;
	position: absolute;
	z-index: 50;
}
.fa-arrow-left{
	left:.1em;
	color: rgba(255,153,0,0.5);
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	z-index: 100;
}
.fa-arrow-right{
	right:.1em;
	color: rgba(255,153,0,0.5);
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	z-index: 100;
}




/*------MAIN------*/

h1{
	font-family: 'Montserrat', sans-serif;
	font-size: 1.8em;
	text-align: center;
}
h2{
	font-family: 'Montserrat', sans-serif;
	font-size: 1.2em;
	padding: 0;
	margin: 0;
}
p{
	font-size: 0.8em;
	padding: 0;
	margin-top: 0;
}
p a{
	font-style: italic;
}

.services{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
}

.services a{
	display: flex;
	flex: 1 0 100%;
	align-items: center;
}

.fa{
	padding: 0.2em 1em;	
}
.fa-comments{
	color: powderblue;
	width: 1em;
}
.fa-shopping-cart{
	color: greenyellow;
	width: 1em;
}
.fa-files-o{
	color: orangered;
	width: 1em;
}
.fa-bar-chart{
	color: palegreen;
	width: 1em;
}




/*------FOOTER------*/


form fieldset{
	border: none;
	width: 80%;
	margin: auto;
}
.formInputRow{
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 0.2em;
}
.formInputRow label{
	flex: 1 0 20%;
}
.formInputRow input{
	border-radius: 0.2em;
	border: none;
	flex: 1 0 80%;
	color: #333;
}
#formSubmit{
	flex: 0 0 100%;
}

.footer ul{
	display: flex;
	align-items: center;
	justify-content: space-around;
	padding: 0;
}
.footer ul li{
	list-style: none;
	text-align: center;
}
.footer ul li a:hover{
	text-shadow: 0 0 thin white;
	color: orange;
	transition: all ease 0.2s;
}
#copyright{
	text-align: center;
	margin-bottom: 0;
}

span:hover{
	color: white;
	transition: all ease 0.2s;
}








/*for tablet - inclusive*/
@media only screen and (min-width : 44em) {

	nav{
		height: 6.4em;
	}
	nav ul{
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		align-items: flex-start;
		justify-content: space-around;
	}
	nav ul li{
		margin: 0.2em;
		flex: 1 0 40%;
	}
	.preamble{
		margin: 0.5em;
	}
	.services h1{
		flex: 1 0 100%;
	}
	.services a{
		flex: 1 0 50%;
	}
	.blog{
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		align-items: flex-start;
		justify-content: space-around;
	}
	.blog h1{
		flex: 1 0 100%;
	}
	.blogPosts{
		margin: 0.5em;
		flex: 1 0 40%;
	}
	.contactForm, .footer{
		max-width: 44em;
		margin: auto;
	}

}





/*so hamburger nav works only on table and phone*/
@media only screen and (max-width : 63.99999999em){
	.hidden{
		height: 0;
	}
}

/*for destop - inclusive*/
@media only screen and (min-width : 64em) {

	body{
		max-width: 80em;
		margin: auto;
	}
	#hamburger{
		display: none;
	}
	
	nav ul{
		max-width: 70%;
	}
	nav ul li{
		flex: 1 0 20%;
	}
	.image-slider{
		max-width: 80em;
		max-height: 48em;
	}
	.services a{
		flex: 1 0 20%;
	}
	.topDesktop{
		display: flex;
		align-items: flex-start;
		justify-content: space-between;
	}
	nav{
		flex: 1 0 55%;
	}

}
